@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: GT ;
  src: url(./fonts/GTWalsheimProBold.ttf);
}

:root{
  font-family: "GT " !important;
}


html{
  background-color: #342e4f;
  font-weight: 100 !important;
}

h1{
  font-weight: bold;
  color: #E7F6F2 ;
}
h2{
  font-size: 4rem !important;
  color: #E7F6F2 !important;
  font-weight: 700 ;
}

.bg-success{
  background-color: #87900d !important;
  color: black;
}

.bg-failed{
  background-color: #B20600 !important;
  font-size: larger;
}

*{
  background-color: #342e4f;
  color: #D1D1D1;
  font-family: 'GT';
}